[submodule "test/cmock"]
	path = test/cmock
	url = git@github.com:ThrowTheSwitch/CMock.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = git@github.com:Mbed-TLS/mbedtls.git
[submodule "external/cjson"]
	path = external/cjson
	url = git@github.com:DaveGamble/cJSON.git
